#calculator{
    height: 400px;
    width: 400px;
}
#display{
    width: 350px;
    margin: 10px;
}

.button{
    height: 40px;
    width: 40px;
    margin: 10px;
}

.button-container{
    justify-content: center;
}